/*---- --------------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ------*/
body{
	margin: 0;
	padding: 0;
	background-color: grey;
}
/*---- --------------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ------*/

/*---- --------------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ------*/
nav{
	width: 100%;
	background-color: black;
	overflow: auto;
}
/*---- --------------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ------*/

/*---- --------------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ------*/
ul{
	margin: 0;
	padding: 0 0 0 150px;
	list-style: none;
}
/*---- --------------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ------*/

/*---- --------------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ------*/
li{
	float: left;
}
/*---- --------------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ------*/

/*---- --------------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ------*/
.logo img{
	position: absolute;
	margin-top: 0px;
	margin-left: 20px;
}
/*---- --------------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ------*/

/*---- --------------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ------*/
nav a{
	width: 100px;
	display: block;
	padding: 20px 15px;
	text-decoration: none;
	font-family: Arial;
	color: #f2f2f2;
	text-align: center;
}
/*---- --------------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ------*/

.contenu div{
	display: inline-block;
	width: 48%;
}

div#contenu2 div{
	display: inline-block;
	width: 48%;
}

