/*Code pour ajouter la forme à notre site web*/

/*Sélection de la balise qu'on veut modifier possibilité de sélectionner une balise spécifique si celle-ci à une class dan sle html */

/*---Édite du body en général--------------------------------------------------------------------------------------------------------------------------*/
body{
	/*Propiété pour la couleur du fond de page I  Pour les couleurs, possible de marquer en toute lettre en anglais, ou par un code référencer présenter de la manière suivante "#......", sinon, 
	ous les codes sont visibles sur "code-couleur.com" */
	background-color:#grey;

	/*Propiété pour mettre une image en fond de page - no repeat pour pas de répétition*/
	b/ackground:  url("file:///Users/ludo/Desktop/Codage/Img/logo.png") no-repeat;

	/*Propriété pour la taille de l'image - en pixel px ou %*/
	b/ackground-size: 100%;
}
/*---Édite du header-----------------------------------------------------------------------------------------------------------------------------------*/
header{
	background-color:  #89949F;

}
/*---Édite du titre------------------------------------------------------------------------------------------------------------------------------------*/
	
	/*Le fait de mettre ".headline" permet ici par exemple de s'intéresser qu'à l'élément "headline" (c'est le nom qu'on a donner à notre titre h1 dans
	la page du site en html grâce à "class"*/
	h1.headline{
		background-color:  #89949F;

		/*Propiété pour changer la taille*/
		 font-size: 43px;

		/*Propriété pour mettre  en gras*/
		 font-weight: bold;

		 /*Propriété pour déplacer un texte selon la marge - Existe padding left/bottom/right/top en fonction de où on veut mettre l'espace */
		 padding-left: : 50px;
		 padding-right: 50px;
		 padding-top: 25px;
		 padding-bottom: 25px;
}

/*---Édite du Menu-------------------------------------------------------------------------------------------------------------------------------------*/

nav.menu-nav ul li.btn{
	/*Permet de supprimer les "point" dans notre menu*/
	list-style-type: none;

	/*Permet de mettre les "bouton" les un à coté des autres*/
	display: inline-block; 
}

/*Permet de viser la structure des liens */
nav.menu-nav ul li.btn a{
	/*Propiété css pour changer la couleur (attention après chaque propriété, mettre ";"  */
	color: #ffffff;

	/*Permet d'enlever les trait sous les liens*/
	text-decoration: none;

	/*Propriété pour mettre en gras*/
	font-weight: bold;

	/*Propiété pour changer la taille du texte*/
	font-size: 30px;

	background-color: #D43535;

	padding: 5px;
}

/*Permet de créer une animation lorsqu'on survole les boutons*/
nav.menu-nav ul li.btn:hover a{
	color: #D43535;
	background-color: #ffffff;

	/*Création d'une transition pour fluidifier la mise en page*/
	transition: 0.1s all;
}

/*---Édite des div------------------------------------------------------------------------------------------------------------------------------------*/
	
	div#content{
		background-color: #234FDF;
	}

	/*Gestion de toutes les div*/
	div#content div{
		display: inline-block;
	/*Gestion de la taille*/
		width: 48%;
	}

	/*Gestion position des éléments boite de gauche*/
	div#content div h1,p,video{
		margin: 15px;
	}

	/*Gestion de la box de gauche*/
	div#content div.leftbox{
		background-color: y/ellow;
		/*Pour monter la box plus haut car différence avec la box de droite*/
		vertical-align: top;
	}
	
	/*Gestion de la box de droite*/
	div#content div.rightbox{
		background-color: g/reen;
	}

	/*Gestion de div dans div*/
	div#content div.annonce{
		background-color: #234FDF;
		width: 100%;
		margin: 10px;
	}

	div.annonce img{
		/*Gestion pour arrondir les angle d'une image*/
		border-radius: 50%;
	}

/*---Édite du text1------------------------------------------------------------------------------------------------------------------------------------*/
	p.text1{
		
		color: #15009A;  
	}
/*---Édite du text2------------------------------------------------------------------------------------------------------------------------------------*/
	p.text2{
		color: #15009A;  
		font-weight: bold;
	}

/*---Édite du liens------------------------------------------------------------------------------------------------------------------------------------*/
	a{
		color:#89949F;

		/*Propriété pour créer de l'opacité sur un élément */
		opacity: 0.9;
		
	}



/*---Édite du footer-----------------------------------------------------------------------------------------------------------------------------------*/
footer{
	background-color:  #89949F;
}












