html body{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
}

a{
  text-decoration: none;
  color: white;
}

/*HEADER*/

header{
  background: black;
  color: white;
}

.headercontainer{
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo_jt{
  width: 4%;
}

.menu{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 3vh;
}

.recherche_bar{
  width: 15%;
}

.bar{
  border: 2px grey solid;
  border-radius: 10px;
  padding: 1vh;
}

.bar:focus{
  outline: none;
}

.socialmedia{
  height: 65%;
  width: 15%;
}

.socialmedia img{
  width: 3vw;
}

/*MAIN*/

main{
  height: 80em;
  width: 100%;
  background: #CBC5C4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 3em;
}

main h1{
  text-align: center;
}

.maincontainer{
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.presentation{
  height: 20%;
  width: 100%;
  background: red;
  border: 2px black solid;
  border-radius: 20px;
}

/*Section1*/

.section{
  height: 50%;
  width: 100%;
  background: blue;
  display: flex;
  flex-direction: row;
  margin-top: 3em;
  border: 2px black solid;
  border-radius: 20px;
}

.section_content{
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.section_content_title{
  height: 30%;
  width: 100%;
  background: yellow;
}

.section_content_text{
  height: 70%;
  width: 100%;
  background: green;
}

.section_video{
  height: 100%;
  width: 40%;
  background: pink;
}

/*FOOTER*/

footer{
  height: 20%;
  width: 100%;
  background: black;
  color: white;
  display: flex;
  align-items: center;
}

.footercontainer{
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logoileps{
  margin-left: 40px;
}

.logoileps img{
  height: 10%;
  width: 10%;
}

.legalmention{
  width: 100%;
}
